$primary-color: #004713;
$secondary-color: #58595B;
$accent-color-1: #DBE120;
$accent-color-2: #13778E;
header {
    #navbar {
        width: 100%;
    }
    #navbarSupportedContent {
        .dropdown-toggle,
        .dropdown-item,
        a.nav-link,
        .btn-outline-secondary {
            color: $primary-color;
            border-color: $secondary-color;
        }
    }
}