.mat-table{
  border: 1px solid black;
  word-wrap: nowrap;
  white-space: normal; 
  border-collapse: separate;
  width: 100%;
  min-width: 1000px;
}
.mat-cell{
  border-right:1px solid darkgray;
  padding: 5px;
}
.mat-header-cell{
  border-right:1px solid darkgray;
  padding: 5px;
  text-align: center;

}

.mat-row:nth-child(even){
  background: rgb(255, 255, 255)
}
.mat-row:nth-child(odd){
  
  background: rgb(230, 255, 249)
}
.mat-column{
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.mat-column-draw{
  width: 20%;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.mat-form-field{
  margin-left: 8px;
  width: auto;
  min-width: 25%;
  color: black;
  text-align: center;
}
// .field-center{
//   position: relative;
//   left: 37%;
// }
