<div class="slide-in-text">
  <h1> Edit Pool </h1>
</div>

<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="zeroFormGroup" errorMessage="Selected Event Has No Pool.">
    <form [formGroup]="zeroFormGroup">
      <ng-template matStepLabel> Select Event </ng-template>
      <mat-form-field>
        <mat-label>Select Event for Pools</mat-label>
        <mat-select formControlName="eventCtrl" (selectionChange)="onEventSelected($event); stepper.next()" required>
          <mat-option *ngFor="let event of this.allEventData" [value]="event">
            {{event.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="this.selectedEvent != null">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select Pool </ng-template>
      <div *ngIf="this.selectedPool == null">
        <p> Selected Event Has No Pool Exist. </p>
      </div>
      <mat-form-field *ngIf="this.selectedPool != null">
        <mat-label>Select Pool to Modify</mat-label>
        <mat-select formControlName="poolCtrl" (selectionChange)="onPoolSelected($event); stepper.next()" required>
          <mat-option *ngFor="let pool of this.allPoolData" [value]="pool">
            {{pool.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> New Pool Name </ng-template>
      <div *ngIf="this.selectedPool != null">
        <p>Previous Event Name: {{this.selectedPool.name}} </p>
      </div>
      <mat-form-field>
        <mat-label> New Pool Name </mat-label>
        <input matInput type='text' placeholder="New Bracket Name" formControlName="eventNameCtrl">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onClickSubmit(stepper)">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>