<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2> Jane Doe </h2>
      <h4> jane.doe@email.com </h4>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQp1Wog7_-TU4ZhMZTWrLPMDfpVQa1DIGdsR6xazUVo3VrWDE46&usqp=CAU"
      alt="Emoji">
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin">
    <mat-icon> dashboard </mat-icon>
    Dashboard
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Add Functionality </h2>

  <a *ngFor="let route of addRoutes"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="{{route.path}}">
    <mat-icon> {{route.icon}} </mat-icon>
    {{route.label}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/delete-event">
    <mat-icon> event </mat-icon>
    Delete an exist Curling Event
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Edit Functionality </h2>

  <a *ngFor="let route of editRoutes"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="{{route.path}}">
    <mat-icon> {{route.icon}} </mat-icon>
    {{route.label}}
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Remove Functionality </h2>

  <a *ngFor="let route of removeRoutes"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="{{route.path}}">
    <mat-icon> {{route.icon}} </mat-icon>
    {{route.label}}
  </a>

</mat-nav-list>