<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2 *ngIf="user"> {{ user.username }} </h2>
    </div>
    <img src="{{randomElement}}"
      alt="Emoji">
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/admin">
    <mat-icon> dashboard </mat-icon>
    Dashboard
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Add Functionality </h2>

  <a *ngFor="let route of addRoutes"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="{{route.path}}"
    [ngClass]="route.class">
    <mat-icon> {{route.icon}} </mat-icon>
    {{route.label}}
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Edit Functionality </h2>

  <a *ngFor="let route of editRoutes"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="{{route.path}}"
    [ngClass]="route.class">
    <mat-icon> {{route.icon}} </mat-icon>
    {{route.label}}
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Remove Functionality </h2>

  <a *ngFor="let route of removeRoutes"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="{{route.path}}"
    [ngClass]="route.class">
    <mat-icon> {{route.icon}} </mat-icon>
    {{route.label}}
  </a>

</mat-nav-list>