<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2> Jane Doe </h2>
      <h4> jane.doe@email.com </h4>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQp1Wog7_-TU4ZhMZTWrLPMDfpVQa1DIGdsR6xazUVo3VrWDE46&usqp=CAU" alt="Emoji">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader> Pages </h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
    <mat-icon> dashboard </mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/create-organization">
    <mat-icon> device_hub </mat-icon>
    Create a new Organization
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/create-team">
    <mat-icon> group_add </mat-icon>
    Create a new Curling Team
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/create-event">
    <mat-icon> event </mat-icon>
    Create a new Curling Event
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/edit-event">
    <mat-icon> event </mat-icon>
    Edit an exist Curling Event
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/delete-event">
    <mat-icon> event </mat-icon>
    Delete an exist Curling Event
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader> Tools </h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon> import_contacts </mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon> contact_phone </mat-icon>
    Leads
  </a>

</mat-nav-list>