<div class="slide-in-text">
  <h1> Remove Organization </h1>
</div>

<mat-vertical-stepper linear
  #stepper>
  <!-- SELECT EVENT -->
  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel> Select an Organization </ng-template>
      <mat-form-field>
        <mat-label>Select Organization to Delete</mat-label>
        <mat-select formControlName="organizationCtrl"
          required>
          <mat-option *ngFor="let organization of this.organizations"
            [value]="organization">
            {{organization.full_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- REMOVE -->
  <mat-step>
    <ng-template matStepLabel>Remove</ng-template>
    <p>Click Remove when ready.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickRemove(stepper)">Remove</button>
    </div>
  </mat-step>

</mat-vertical-stepper>