<div class="slide-in-text">
  <h1> Remove Curler </h1>
</div>

<form [formGroup]="formGroup">
  <mat-vertical-stepper linear
    #stepper
    formArrayName="formArray">

    <!-- ORGANIZATION -->
    <mat-step formGroupName="0"
      [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Select an Organization</ng-template>
      <mat-form-field>
        <mat-label>Select Organization</mat-label>
        <mat-select formControlName="organizationIdCtrl"
          name="organizations"
          (selectionChange)="getCurlersByOrganizationId()"
          required>
          <mat-option *ngFor="let organization of organizations"
            [value]="organization.id">
            {{organization.full_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- CURLER -->
    <mat-step formGroupName="1"
      [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel> Select a Curler</ng-template>
      <mat-form-field>
        <mat-label> Select Curler... </mat-label>
        <mat-select formControlName="curlerIdCtrl"
          name="curlers"
          required>
          <mat-option *ngFor="let curler of curlers"
            [value]="curler.id">
            {{curler.name}} (Team: {{curler.curlingteamname}})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- REMOVE -->
    <mat-step>
      <ng-template matStepLabel>Remove</ng-template>
      <p>Click Remove when ready.</p>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          (click)="stepper.reset()">Reset</button>
        <button mat-button
          (click)="onClickRemove(stepper)">Remove</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</form>