<mat-vertical-stepper linear #stepper>
  <!-- Stepper: Select Event Name-->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Curling Event </ng-template>
      <mat-form-field>
        <mat-label> Select Curling Event... </mat-label>
        <mat-select formControlName="firstCtrl" name="eventName">
          <mat-option *ngFor="let eventName of eventNames" [value]="eventName.id" matTooltip="{{eventName.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}" [matTooltipPosition]="'right'" (click)="loadEventID()">
            {{eventName.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>

  <!-- Stepper: Draw Information-->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Draw Information </ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="secondCtrlName" placeholder="Ex. Draw #1" required>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="secondCtrlDate" [matDatepickerFilter]=" dateFilter" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>Video URL</mat-label>
        <input matInput formControlName="secondCtrlUrl" placeholder="Ex. https://www.youtube.com/embed/zesl6jZnSDM" required>
      </mat-form-field>


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="loadDrawInfo()">Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button>Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>