<header>
  <nav class="navbar navbar-expand-md navbar-light"
    id="navbar">
    <a class="navbar-brand"
      href="#">
      <img class="my-0 py-0"
        src="https://i.imgur.com/buDk4fV.png"
        height="58"
        alt="ECC logo">
    </a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
      id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <!-- EVENTS BUTTON -->
        <li class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a button
            class="nav-link btn btn-link"
            (click)="sidenavToggle.emit()">Events</a>
        </li>

        <!-- SCHEDULE BUTTON -->
        <li class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a class="nav-link btn btn-link"
            href="/schedule">Schedule</a>
        </li>

        <!-- TEAMS BUTTON -->
        <li class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a class="nav-link btn btn-link"
            href="/teamlist">Teams</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">

        <!-- ADMIN BUTTON -->
        <li class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a form
            class="nav-link btn btn-link form-inline">
            <button *ngIf="isSignedIn"
              class="btn btn-sm btn-outline-secondary"
              type="button"
              (click)="managerView()">Manager View</button>
          </a>
        </li>

        <!-- SIGN IN/OUT BUTTON -->
        <li *ngIf="!isSignedIn"
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a form
            class="nav-link btn btn-link form-inline">
            <button *ngIf="!isSignedIn"
              class="btn btn-sm btn-outline-secondary"
              type="button"
              (click)="signIn()">Sign In</button>
          </a>
        </li>

        <li *ngIf="isSignedIn"
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a form
            class="nav-link btn btn-link form-inline">
            <button class="btn btn-sm btn-outline-secondary"
              type="button"
              (click)="signOut()">Sign Out</button>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</header>