<div class="slide-in-text">
  <h1> Add Event </h1>
</div>

<mat-vertical-stepper linear
  #stepper>

  <!-- EVENT NAME + EVENT DETAIL -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> New Event Name </ng-template>
      <mat-form-field>
        <mat-label> Event Name </mat-label>
        <input matInput
          type='text'
          placeholder="New Event"
          formControlName="eventNameCtrl"
          required>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label> Event Detail </mat-label>
        <mat-select formControlName="eventInfoCtrl"
          name="eventDetail"
          required>
          <mat-option *ngFor="let eventDetail of eventDetails"
            [value]="eventDetail.value"> {{eventDetail.label}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- EVENT TYPE + EVENT STATUS -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> New Event Type </ng-template>
      <mat-form-field>
        <mat-label> Event Type </mat-label>
        <mat-select formControlName="eventTypeCtrl"
          name="eventType"
          required>
          <mat-option *ngFor="let eventType of eventTypes"
            [value]="eventType.value"> {{eventType.label}} </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Event Status</mat-label>
        <mat-select formControlName="eventFinishedCtrl"
          name="eventStatus"
          required>
          <mat-option *ngFor="let statusTypes of statusTypes"
            [value]="statusTypes.value"> {{statusTypes.label}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- EVENT START + EVENT END -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel> New Event Begin Date </ng-template>
      <mat-form-field>
        <mat-label>Event Beginning Date</mat-label>
        <input matInput
          [matDatepicker]="picker1"
          formControlName="eventStartCtrl"
          required>
        <mat-datepicker-toggle matSuffix
          [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Event End Date</mat-label>
        <input matInput
          [matDatepicker]="picker2"
          formControlName="eventEndCtrl"
          required>
        <mat-datepicker-toggle matSuffix
          [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2
          color="primary"></mat-datepicker>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- SUBMIT -->
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <!-- {{this.begin_date | date: 'EEE, M/d/yy @ h:mm':'PST'}} PST -->
    <p>Click Submit when ready.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickSubmit(stepper)">Submit</button>
    </div>
  </mat-step>

</mat-vertical-stepper>