<button (click)="centerGraph()">
  Center Graph
</button>

<button (click)="fitGraph()">
  Zoom to Fit
</button>

<button (click)="updateGraph()">
  Update Graph
</button>

<div class="mt-4 w-100"
  style="height: 100%">
  <ngx-graph *ngIf="nodes && edges"
    class="chart-container"
    [links]="edges"
    [nodes]="nodes"
    layout="dagreCluster"
    [curve]="curve"
    [draggingEnabled]="false"
    [enableZoom]="true"
    [zoomSpeed]="0.02"
    autoZoom="true"
    autoCenter="true"
    [center$]="center$"
    [zoomToFit$]="zoomToFit$"
    [update$]="update$">

    <!-- ARROWS -->
    <!-- <ng-template #defsTemplate>
    <svg:marker id="arrow"
      viewBox="0 -5 10 10"
      refX="8"
      refY="0"
      markerWidth="4"
      markerHeight="4"
      orient="auto">
      <svg:path d="M0,-5L10,0L0,5"
        class="arrow-head" />
    </svg:marker>
  </ng-template> -->

    <!-- CLUSTER -->
    <!-- <ng-template #clusterTemplate
    let-cluster>
    <svg:g class="node cluster"
      ngx-tooltip
      [tooltipPlacement]="'top'"
      [tooltipType]="'tooltip'"
      [tooltipTitle]="cluster.label">
      <svg:rect rx="5"
        ry="5"
        [attr.width]="cluster.dimension.width"
        [attr.height]="cluster.dimension.height"
        [attr.fill]="cluster.data.color" />
    </svg:g>
  </ng-template> -->

    <!-- NODE -->
    <ng-template #nodeTemplate
      let-node>
      <svg:g class="node"
        ngx-tooltip
        [tooltipPlacement]="'top'"
        [tooltipType]="'tooltip'"
        [tooltipTitle]="node.label">
        <!-- <svg:rect [attr.width]="100"
        [attr.height]="70"
        [attr.fill]="node.data.color" /> -->
        <svg:text alignment-baseline="central"
          [attr.x]="10"
          [attr.y]="node.dimension.height / 2">
          {{node.label}}
        </svg:text>
      </svg:g>
    </ng-template>

    <!-- EDGE -->
    <ng-template #linkTemplate
      let-link>
      <svg:g class="edge">
        <svg:path class="line"
          stroke-width="2"
          marker-end="url(#arrow)"></svg:path>
        <svg:text class="edge-label"
          text-anchor="middle">
          <textPath class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%">
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>

  </ngx-graph>
</div>