<div class="slide-in-text">
  <h1> Remove Team from Event </h1>
</div>

<mat-vertical-stepper linear
  #stepper>

  <!-- SELECT EVENT -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select an Event </ng-template>
      <mat-form-field>
        <mat-label> Choose an Event </mat-label>
        <mat-select formControlName="eventCtrl"
          (selectionChange)="getTeamsByEventId(stepper)"
          required>
          <mat-option> -- </mat-option>
          <mat-option *ngFor="let event of events"
            [value]="event.id"> {{event.name}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- SELECT TEAM -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Select a Team </ng-template>
      <mat-form-field>
        <mat-label> Choose a Team </mat-label>
        <mat-select formControlName="teamCtrl"
          (selectionChange)="setSelections(stepper)"
          required>
          <mat-option> -- </mat-option>
          <mat-option *ngFor="let team of teams"
            [value]="team.id"> {{team.team_name}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperNext>Next</button>
        <button mat-button
          matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

  <!-- REMOVE -->
  <mat-step>
    <ng-template matStepLabel>Remove</ng-template>
    <p>Click Remove when ready.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickRemove(stepper)">Remove</button>
    </div>
  </mat-step>
</mat-vertical-stepper>