<div class="slide-in-text">
  <h1> Edit Game </h1>
</div>

<form [formGroup]="formGroup">
  <mat-vertical-stepper linear
    #stepper
    formArrayName="formArray">

    <!-- EVENT -->
    <mat-step formGroupName="0"
      [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Select an Event</ng-template>
      <mat-form-field>
        <mat-label>Choose an Event</mat-label>
        <mat-select formControlName="eventCtrl"
          (selectionChange)="getDraws(); stepper.next()"
          required>
          <mat-option> -- </mat-option>
          <mat-option *ngFor="let event of events"
            [value]="event.id">{{event.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- DRAW  -->
    <mat-step formGroupName="1"
      [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>Select a Draw</ng-template>

      <mat-form-field>
        <mat-label> Select Draw... </mat-label>
        <mat-select formControlName="drawCtrl"
          name="draws"
          (selectionChange)="getGames(); stepper.next()"
          required>
          <mat-option *ngFor="let draw of draws"
            [value]="draw.id"
            matTooltip="{{draw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}"
            [matTooltipPosition]="'right'">
            {{draw.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- GAME  -->
    <mat-step formGroupName="2"
      [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>Select a Game</ng-template>
      <mat-form-field>
        <mat-label> Choose a Game </mat-label>
        <mat-select formControlName="gameCtrl"
          name="games"
          (selectionChange)="getGameId();  getPoolsByEventId(); getBracketsByEventId(); stepper.next()"
          required>
          <mat-option *ngFor="let game of games"
            [value]="game.game_id">
            {{game.team_name1}} vs. {{game.team_name2}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- EDIT POOL/BRACKET -->
    <mat-step formGroupName="3"
      [stepControl]="formArray?.get([3])">
      <ng-template matStepLabel>Edit Pool or Bracket</ng-template>
      <mat-select *ngIf="pools.length != 0"
        formControlName="poolCtrl"
        required>
        <mat-option *ngFor="let pool of pools"
          [value]="pool.id">
          Pool: {{pool.name}}
        </mat-option>
      </mat-select>
      <mat-select *ngIf="brackets.length != 0"
        formControlName="bracketCtrl"
        required>
        <mat-option *ngFor="let bracket of brackets"
          [value]="bracket.id">
          Bracket: {{bracket.name}}
        </mat-option>
      </mat-select>
    </mat-step>

    <!-- EDIT -->
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <p>Click Submit when ready.</p>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          (click)="stepper.reset()">Reset</button>
        <button mat-button
          (click)="onClickSubmit(stepper)">Submit</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</form>