<div class="slide-in-text">
  <h1> Remove Draw </h1>
</div>

<mat-vertical-stepper linear #stepper>
  <!-- Stepper 1: Select Event Name -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select Curling Event </ng-template>
      <mat-form-field>
        <mat-label> Select Curling Event... </mat-label>
        <mat-select formControlName="firstCtrl" name="eventName" (selectionChange)="getEventDraws(); stepper.next()" required>
          <mat-option *ngFor="let eventName of eventNames" [value]="eventName.id" matTooltip="{{eventName.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}" [matTooltipPosition]="'right'">
            {{eventName.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-step>

  <!-- Stepper 2: Select Draw-->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Select Draw </ng-template>

      <mat-form-field>
        <mat-label> Select Draw... </mat-label>
        <mat-select formControlName="secondCtrl" name="eventDraws" (selectionChange)="getDrawGames(); stepper.next()" required>
          <mat-option *ngFor="let eventDraw of eventDraws" [value]="eventDraw.id" matTooltip="{{eventDraw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}" [matTooltipPosition]="'right'">
            {{eventDraw.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-step>


  <!-- Stepper 3: Draw Information-->
  <mat-step>

    <ng-template matStepLabel> Draw Information </ng-template>

    <!--Draw Info Table-->
    <table mat-table [dataSource]="selectedDraw" class="m-2 mat-elevation-z8">

      <ng-container matColumnDef="event_id">
        <th mat-header-cell *matHeaderCellDef> Event ID </th>
        <td mat-cell *matCellDef="let draw">{{draw.event_id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Draw Name </th>
        <td mat-cell *matCellDef="let draw">{{draw.name}}</td>
      </ng-container>
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start Time </th>
        <td mat-cell *matCellDef="let draw">{{draw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}</td>
      </ng-container>
      <ng-container matColumnDef="video_url">
        <th mat-header-cell *matHeaderCellDef> Video URL</th>
        <td mat-cell *matCellDef="let draw">{{draw.video_url}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="drawDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: drawDisplayedColumns;"></tr>
    </table>

    <!--Game Info Table-->
    <table *ngIf="selectedDrawGames.length>0" mat-table [dataSource]="selectedDrawGames" class="m-2 mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Game Notes</th>
        <td mat-cell *matCellDef="let game"> {{game.notes}} </td>
      </ng-container>
      <ng-container matColumnDef="team_name1">
        <th mat-header-cell *matHeaderCellDef> Team 1 </th>
        <td mat-cell *matCellDef="let game"> {{game.team_name1}} </td>
      </ng-container>
      <ng-container matColumnDef="team_name2">
        <th mat-header-cell *matHeaderCellDef> Team 2 </th>
        <td mat-cell *matCellDef="let game"> {{game.team_name2}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="gameDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: gameDisplayedColumns;"></tr>
    </table>

    <div class="m2">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="deleteDraw(stepper)"> Delete Draw</button>

    </div>
  </mat-step>

</mat-vertical-stepper>