<div class="slide-in-text">
  <h1> Remove Team </h1>
</div>

<mat-vertical-stepper linear
  #stepper>

  <!-- TEAM -->
  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel> Select a Team </ng-template>
      <mat-form-field>
        <mat-label> Team Name </mat-label>
        <mat-select formControlName="teamIdCtrl"
          name="teams"
          required>
          <mat-option *ngFor="let team of teams"
            [value]="team.id">
            {{team.team_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div>
      <button mat-button
        matStepperNext>Next</button>
    </div>
  </mat-step>

  <!-- REMOVE -->
  <mat-step>
    <ng-template matStepLabel>Remove</ng-template>
    <p>Click Remove when ready.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickRemove(stepper)">Remove</button>
    </div>
  </mat-step>

</mat-vertical-stepper>