.mat-table{
  width: 100%;
  border: 1px solid black;
  word-wrap:break-word;
}

tr.detail-row {
  height: 0;
}

tr.team-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.team-row:not(.expanded-row):active {
  background: #efefef;
}

.team-row td {
  border-bottom-width: 0;
}

.team-detail {
  overflow: hidden;
  display: flex;
}

.team-member{
  margin: 10px;
  width: 40%;
}
.curler-info {
  text-align:left;
}
.curler-photo{
  display: block;


  left: 50%;
}

.lement-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.team-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.team-description {
  padding: 16px;
}

.team-description-attribution {
  opacity: 0.5;
}

.mat-form-field{
  margin-left: 8px;
  width: auto;
  min-width: 25%;
  color: black;
}
.field-center{
  position: relative;
  left: 37%;
}
.expansion-panel{
  width: 100%;
  margin: 10px;
  border: 1px solid black;
  word-wrap:break-word;
}
