<div class="slide-in-text">
  <h1> Edit Draw </h1>
</div>

<mat-vertical-stepper linear #stepper>
  <!-- Stepper 1: Select Event Name-->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select Curling Event </ng-template>
      <mat-form-field>
        <mat-label> Select Curling Event... </mat-label>
        <mat-select formControlName="firstCtrl" name="eventName" (selectionChange)="getEventDraws(); stepper.next()" required>
          <mat-option *ngFor="let eventName of eventNames" [value]="eventName.id" matTooltip="{{eventName.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}" [matTooltipPosition]="'right'">
            {{eventName.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-step>

  <!-- Stepper 2: Select Draw-->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Select Draw </ng-template>

      <mat-form-field>
        <mat-label> Select Draw... </mat-label>
        <mat-select formControlName="secondCtrl" name="eventDraws" (selectionChange)="getDraw(); stepper.next()" required>
          <mat-option *ngFor="let eventDraw of eventDraws" [value]="eventDraw.id" matTooltip="{{eventDraw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}" [matTooltipPosition]="'right'">
            {{eventDraw.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-step>
  <!-- Stepper 3: Draw Information-->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel> Edit Draw Information </ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="thirdCtrlName" placeholder="Ex. Draw #1" required>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput [min]="minDate" [max]="maxDate" [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" formControlName="thirdCtrlDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>Video URL (Optional)</mat-label>
        <input matInput formControlName="thirdCtrlUrl" placeholder="Ex. https://www.youtube.com/embed/zesl6jZnSDM">
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onClickSubmit(stepper)">Submit</button>
      </div>

    </form>
  </mat-step>

</mat-vertical-stepper>