<div class="container">

    <div class="row heading">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center bottom-line">Team Overview</h2>
            <p class="subheading text-center">2018 U.S. Olympic Curling Team</p>
        </div>
    </div>

    <div class="row team-row">

        <div class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="https://www.teamusa.org/-/media/TeamUSA/Headshots/2018OlympicTeam/Curling/geving_aileen_150x250.jpg?mh=250&mw=150&hash=56175E6CD1195207C985AB62E4555246EEA50C65" alt="">
                    <!-- <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Works as a commercial lines account executive with Marsh & McLennan Agency...Married; expecting their first child in late December 2018...Enjoys fishing and the outdoors.
                            </p>
                            <div class="socials mt-20">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <h6 class="team-title">Aileen Geving</h6>
                <span>Lead</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="https://www.teamusa.org/-/media/TeamUSA/Headshots/2018OlympicTeam/Curling/hamilton_becca_150x250.jpg?mh=250&mw=150&hash=AB2EBF09200989626D71F8A1D82EAD0F618FEE8A" alt="">
                    <!-- <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Becca works for Dick's Sporting Goods as part of its Team USA Olympic Contenders Program.
                            </p>
                            <div class="socials mt-20">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <h6 class="team-title">Becca Hamilton</h6>
                <span>Second</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member last text-center">
                <div class="team-img">
                    <img src="https://www.teamusa.org/-/media/TeamUSA/Headshots/2018OlympicTeam/Curling/christensen_cory_150x250.jpg?mh=250&mw=150&hash=EF96A6A4F68B044ED079055C7F1B95AC4FDC94B1" alt="">
                    <!-- <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Cory is married and makes a living as a nurse in the Madison area.
                            </p>
                            <div class="socials mt-20">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <h6 class="team-title">Cory Christensen</h6>
                <span>Vice Skip</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-3 col-sm-6 team-wrap">
            <div class="team-member last text-center">
                <div class="team-img">
                    <img src="https://www.teamusa.org/-/media/TeamUSA/Headshots/2018OlympicTeam/Curling/roth_nina_150x250.jpg?mh=250&mw=150&hash=763770665100E5B6BE8EE443F950F7103DD4B353" alt="">
                    <!-- <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Nina is married and makes a living as a nurse in the Madison area.
                            </p>
                            <div class="socials mt-20">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <h6 class="team-title">Nina Roth</h6>
                <span>Skip</span>
            </div>
        </div>
        <!-- end team member -->

    </div>
</div>