
.horizontal-scroll {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field {
  text-align: center;
}

::ng-deep.auto-width {
  .mat-form-field {
    width: auto !important;
  }
}

.mat-card-title {
  font-size: 1.17em;
}

.mat-row,
.mat-header-row {  
  // min-width: 2800px;  
  width: 100%;  
}  
