<div class="container">

  <!-- Event Header -->
  <div *ngIf="currentEvent && currentEvent.name"
    class="row">
    <div class="col-lg-12 d-flex justify-content-center align-self-center my-3">
      <h1> {{currentEvent.name}} </h1>
    </div>
  </div>

  <!-- Draw Header -->
  <div class="row">
    <div class="draw-header col-lg-4 offset-lg-2 d-flex justify-content-center">
      <div style="min-width: 220px">
        <mat-form-field style="min-width: 220px">
          <mat-label>Draws</mat-label>
          <mat-select [(value)]="selectedDraw"
            (selectionChange)="onDrawSelected($event)">
            <mat-option *ngFor="let draw of allDraws.slice().reverse()"
              [value]="draw"
              matTooltip="{{draw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}"
              [matTooltipPosition]="'right'">
              {{draw.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h5 *ngIf="selectedDraw">{{selectedDraw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}</h5>
      </div>
    </div>
    <div class="col-lg-6 justify-content-center">
      <button *ngIf="selectedDraw && selectedDraw.video_url"
        mat-icon-button
        matTooltip=" YouTube Link"
        aria-label="YouTube link button"
        (click)="openYoutubeDialog(selectedDraw.video_url)">
        <mat-icon> live_tv </mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">

      <!-- Game Card -->
      <mat-card class="m-2 mat-elevation-z8"
        *ngFor="let game of currentGames; index as i">
        <mat-card-title style="text-align: center"> Sheet {{convertToAlpha(i)}}: {{game.team_name1}} vs {{game.team_name2}} </mat-card-title>

        <!-- Tab Group -->
        <mat-tab-group mat-align-tabs="center">

          <!-- Scores Tab -->
          <mat-tab label="Scores">
            <table mat-table
              [dataSource]="game.dataSource">
              <ng-container matColumnDef="name"
                sticky>
                <th mat-header-cell
                  *matHeaderCellDef
                  class="m-0 p-0"></th>
                <td mat-cell
                  *matCellDef="let team"
                  class="m-0 p-0">
                  <button type="button"
                    class="btn btn-light"
                    (click)="openDialog()"> {{team.name}} </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="round_1">
                <th mat-header-cell
                  *matHeaderCellDef> 1 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_1}} </td>
              </ng-container>
              <ng-container matColumnDef="round_2">
                <th mat-header-cell
                  *matHeaderCellDef> 2 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_2}} </td>
              </ng-container>
              <ng-container matColumnDef="round_3">
                <th mat-header-cell
                  *matHeaderCellDef> 3 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_3}} </td>
              </ng-container>
              <ng-container matColumnDef="round_4">
                <th mat-header-cell
                  *matHeaderCellDef> 4 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_4}} </td>
              </ng-container>
              <ng-container matColumnDef="round_5">
                <th mat-header-cell
                  *matHeaderCellDef> 5 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_5}} </td>
              </ng-container>
              <ng-container matColumnDef="round_6">
                <th mat-header-cell
                  *matHeaderCellDef> 6 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_6}} </td>
              </ng-container>
              <ng-container matColumnDef="round_7">
                <th mat-header-cell
                  *matHeaderCellDef> 7 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_7}} </td>
              </ng-container>
              <ng-container matColumnDef="round_8">
                <th mat-header-cell
                  *matHeaderCellDef> 8 </th>
                <td mat-cell
                  *matCellDef="let team"> {{team.round_8}} </td>
              </ng-container>
              <ng-container matColumnDef="final_score">
                <th mat-header-cell
                  *matHeaderCellDef> Final </th>
                <td mat-cell
                  *matCellDef="let team"> {{getFinalScore(team)}} </td>
              </ng-container>

              <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-tab>

          <!-- Game Statistics Tab -->
          <mat-tab label="Statistics">
            <div class="text-center">
              <img class="rounded mx-auto d-block"
                src="https://imgur.com/x5QuUZ1.jpg"
                alt="Bonspiel Statistics">
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

    <div class="col-lg-4">

      <!-- Standings Card -->
      <div class="standings"
        *ngIf="dataSourceAllStandings.length">
        <mat-card class="m-2 mat-elevation-z8"
          style='min-height:400px'>
          <mat-card-title style="text-align: center"> Team Standings </mat-card-title>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab *ngFor="let item of dataSourceAllStandings; index as i"
              label="{{item.type}} {{item.id}}">
              <table mat-table
                [dataSource]="item.teams">

                <!-- Team Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell
                    *matHeaderCellDef> Team Name </th>
                  <td mat-cell
                    *matCellDef="let team"> {{team.name}} </td>
                </ng-container>

                <!-- Wins Column -->
                <ng-container matColumnDef="wins">
                  <th mat-header-cell
                    *matHeaderCellDef> Wins </th>
                  <td mat-cell
                    *matCellDef="let team"> {{team.wins}} </td>
                </ng-container>

                <!-- Losses Column -->
                <ng-container matColumnDef="losses">
                  <th mat-header-cell
                    *matHeaderCellDef> Losses </th>
                  <td mat-cell
                    *matCellDef="let team"> {{team.losses}} </td>
                </ng-container>
                <tr mat-header-row
                  *matHeaderRowDef="standingsColumns"></tr>
                <tr mat-row
                  *matRowDef="let row; columns: standingsColumns;"></tr>

              </table>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>

  </div>

</div>