.example-container {
  display: flex;
  overflow: auto;
}
.col-sm-12 {
  padding: 15px;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
$primary-color: #004713;
$secondary-color: #58595b;
$accent-color-1: #dbe120;
$accent-color-2: #13778e;

.mat-icon-button {
  background-color: $secondary-color;
  color: white;
  margin: 10px;
}

.mat-form-field {
  text-align: center;
}
