<mat-vertical-stepper linear #stepper>
  <!-- Stepper: Select Event -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select Curling Event </ng-template>
      <mat-form-field>
        <mat-label> Select Curling Event... </mat-label>
        <mat-select formControlName="firstCtrl" name="eventName" (selectionChange)="getEventDraws(); stepper.next()" required>
          <mat-option *ngFor="let eventName of eventNames" [value]="eventName.id" matTooltip="{{eventName.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}" [matTooltipPosition]="'right'">
            {{eventName.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-step>

  <!-- Stepper 2: Select Draw -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Select Draw </ng-template>
      <mat-form-field>
        <mat-label> Select Draw... </mat-label>
        <mat-select formControlName="secondCtrl" name="draws" (selectionChange)="getDrawGames(); stepper.next()" required>
          <mat-option *ngFor="let draw of draws" [value]="draw.id" matTooltip="{{draw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}" [matTooltipPosition]="'right'">
            {{draw.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-step>

  <!-- Stepper 3: Select Game -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel> Select Game </ng-template>
      <mat-form-field class="w-100">
        <mat-label> Select Game... </mat-label>
        <mat-select formControlName="thirdCtrl" name="games" (selectionChange)="getEndScores(); stepper.next()" required>
          <mat-option *ngFor="let game of games" [value]="game.game_id">
            {{game.team_name1}} VS {{game.team_name2}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-step>



  <!-- Stepper 4: Edit End Score -->
  <mat-step [stepControl]="fourthFormGroup">
    <table mat-table [dataSource]="endScores" class="mat-elevation-z8 w-100">

      <!-- End Number Column -->
      <ng-container matColumnDef="endNumber">
        <th mat-header-cell *matHeaderCellDef> End No. </th>
        <td mat-cell *matCellDef="let game"> {{game.end_number}} </td>
      </ng-container>

      <!-- Team 1 Score  Column -->
      <ng-container matColumnDef="team1Score">
        <th mat-header-cell *matHeaderCellDef> Team: {{team1}} </th>
        <td mat-cell *matCellDef="let game">
          <div *ngIf="game.curlingteam1_scored !==null">
            <div *ngIf="game.curlingteam1_scored; else score0">{{game.score}}</div>
            <ng-template #score0>
              0
            </ng-template>
          </div>
        </td>
      </ng-container>

      <!-- Team 2 Score  Column -->
      <ng-container matColumnDef="team2Score">
        <th mat-header-cell *matHeaderCellDef> Team: {{team2}}</th>
        <td mat-cell *matCellDef="let game">
          <div *ngIf="game.curlingteam1_scored !==null">
            <div *ngIf="!game.curlingteam1_scored; else score0">{{game.score}}</div>
            <ng-template #score0>
              0
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Adding End Information -->
    <form [formGroup]="fourthFormGroup" class="mt-5">
      <ng-template matStepLabel> Next End </ng-template>
      <mat-form-field>
        <mat-label> Select End Number </mat-label>
        <mat-select formControlName="fourthCtrlEndId" name="endScores" required>
          <mat-option *ngFor="let endscore of endScores" [value]="endscore.endscore_id">
            {{endscore.end_number}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>New End Number</mat-label>
        <input matInput type="number" min="0" formControlName="fourthCtrlEndNumber" required>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>Team: ({{team1}})</mat-label>
        <input matInput type="number" min="0" formControlName="fourthCtrlTeam1Score" required>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>Team: ({{team2}})</mat-label>
        <input matInput type="number" min="0" formControlName="fourthCtrlTeam2Score" required>
      </mat-form-field>
    </form>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onClickSubmit();">Submit</button>
    </div>
  </mat-step>

</mat-vertical-stepper>