<p>create-organization works!</p>
<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> New Organization Name </ng-template>
      <mat-form-field>
        <mat-label> Organization Name </mat-label>
        <input matInput type='text' placeholder="New Organization" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel> Organization Short Name </ng-template>
        <mat-form-field>
          <mat-label> Short Name </mat-label>
          <input matInput type='text' placeholder="New Short Name" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="createOrganization()">Submit</button>
      </div>
    </mat-step>
  </mat-step>
</mat-vertical-stepper>