<app-spinner></app-spinner>
<mat-sidenav-container class="example-container-2">
  <mat-sidenav #sidenav
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <a *ngFor="let curlingEvent of curlingEvents"
      class="dropdown-item">
      <!-- <button class="btn btn-link" (click)="router.navigateByUrl(link.path)" style="outline: none"> -->
      <button class="btn btn-link"
        (click)="loadNewEvent()"
        style="outline: none">
        <!-- <mat-icon class="pr-1"> {{ link.icon }} </mat-icon> -->
        <span> {{ curlingEvent.name }} </span>
      </button>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>