<app-spinner></app-spinner>

<!-- SIDENAV CONTENT -->
<mat-sidenav-container class="example-container-2">
  <mat-sidenav #sidenav
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')">

    <!-- CURRENT EVENTS -->
    <p *ngIf="curlingEvents"
      matSubheader
      class="m-0 pb-1"> Current Events </p>
    <mat-list role="list"
      class="p-0">
      <mat-list-item *ngFor="let curlingEvent of curlingEvents"
        class="dropdown-item"
        role="listitem">
        <button class="btn btn-link"
          (click)="loadNewEvent(curlingEvent)"
          style="outline: none"
          matTooltip="{{ curlingEvent.begin_date | date: 'fullDate' }}">
          <span> {{ curlingEvent.name }} </span>
        </button>
      </mat-list-item>
    </mat-list>

    <!-- PAST EVENTS -->
    <p *ngIf="curlingEvents"
      matSubheader
      class="m-0 pb-1"> Past Events </p>
    <mat-list role="list"
      class="p-0">
      <mat-list-item *ngFor="let curlingEvent of curlingEvents"
        class="dropdown-item"
        role="listitem">
        <button class="btn btn-link"
          (click)="loadNewEvent(curlingEvent)"
          style="outline: none"
          matTooltip="{{ curlingEvent.begin_date | date: 'fullDate' }}">
          <span> {{ curlingEvent.name }} </span>
        </button>
      </mat-list-item>
    </mat-list>

    <!-- FUTURE EVENTS -->
    <p *ngIf="curlingEvents"
      matSubheader
      class="m-0 pb-1"> Future Events </p>
    <mat-list role="list"
      class="p-0">
      <mat-list-item *ngFor="let curlingEvent of curlingEvents"
        class="dropdown-item"
        role="listitem">
        <button class="btn btn-link"
          (click)="loadNewEvent(curlingEvent)"
          style="outline: none"
          matTooltip="{{ curlingEvent.begin_date | date: 'fullDate' }}">
          <span> {{ curlingEvent.name }} </span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>