<div class="container">
  <!-- Spinners -->
  <div class="col-sm-12">
    <button (click)="notifier.showSuccess('success', 'Bold')">
      Success Toaster
    </button>

    <button (click)="notifier.showError('Something is wrong', 'ItSolutionStuff.com')">
      Error Toaster
    </button>

    <button (click)="notifier.showInfo('info', 'BOLD')">
      Info Toaster
    </button>

    <button (click)="notifier.showWarning('warning', 'BOLD')">
      Warning Toaster
    </button>
  </div>
  <hr>
  <!-- Desktop View -->
  <div class="desktop" *ngIf="currentWindowWidth>=700">
    <app-desktop-view></app-desktop-view>
  </div>

  <!-- Mobile View -->
  <div class="mobile" *ngIf="currentWindowWidth<700">
    <app-mobile-view></app-mobile-view>
  </div>

</div>