<div class="slide-in-text">
  <h1>Remove Event</h1>
</div>

<mat-vertical-stepper #stepper
  linear>

  <!-- SELECT EVENT -->
  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Select Event</ng-template>
      <mat-form-field>
        <mat-label>Select Event to Remove</mat-label>
        <mat-select formControlName="eventIdCtrl"
          required>
          <mat-option *ngFor="let event of this.events"
            [value]="event">
            {{event.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>


  <!-- SUBMIT -->
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Click Submit when ready.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickSubmit(stepper)">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>