<div class="slide-in-text">
  <h1> Remove Event </h1>
</div>

<mat-vertical-stepper linear #stepper>
  <!-- SELECT EVENT -->
  <mat-step [stepControl]="zeroFormGroup">
    <ng-template matStepLabel> Select Event </ng-template>
    <mat-form-field>
      <mat-label>Select Event to Delete</mat-label>
      <mat-select [(value)]="selectedEvent" (selectionChange)="onEventSelected($event); stepper.next()" required>
        <mat-option *ngFor="let event of this.allEventData" [value]="event">
          {{event.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>


  <!-- FINISH & SUBMIT -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onClickSubmit(stepper)">Delete Event</button>
    </div>
  </mat-step>
</mat-vertical-stepper>