<mat-toolbar color="primary"
  style="background-color: #004712">
  <mat-toolbar-row>
    <button mat-icon-button
      (click)="toggleSideBar()">
      <mat-icon *ngIf="isSidebarOpen"> arrow_back_ios </mat-icon>
      <mat-icon *ngIf="!isSidebarOpen"> arrow_forward_ios </mat-icon>
    </button>

    <div fxFlex
      fxLayout="row"
      fxLayoutAlign="end center">
      <ul fxLayout="row"
        fxLayoutGap="20px"
        style="margin-bottom: 0">

        <!-- GEAR BUTTON -->
        <!-- <li>
          <button mat-button
            [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>sentiment_very_satisfied</mat-icon>
              Very Satisfied
            </button>
            <button mat-menu-item>
              <mat-icon>sentiment_satisfied</mat-icon>
              Satisfied
            </button>
            <button mat-menu-item>
              <mat-icon>sentiment_dissatisfied</mat-icon>
              Dissatisfied
            </button>
            <button mat-menu-item>
              <mat-icon>sentiment_very_dissatisfied</mat-icon>
              Very Dissatisfied
            </button>
          </mat-menu>
        </li> -->

        <!-- HELP BUTTON -->
        <li>
          <button mat-button
            [matMenuTriggerFor]="helpMenu">
            <mat-icon>help_outline</mat-icon>
          </button>
          <mat-menu #helpMenu="matMenu">
            <button mat-menu-item
              (click)="instructionals()">
              <mat-icon>live_help</mat-icon>
              Batch Upload Requirements
            </button>
            <button mat-menu-item
              (click)="faqs()">
              <mat-icon>question_answer</mat-icon>
              FAQs
            </button>
            <button mat-menu-item
              (click)="feedback()">
              <mat-icon>email</mat-icon>
              Send Feedback
            </button>
          </mat-menu>
        </li>

        <!-- MANAGE USERS BUTTON -->
        <li>
          <button mat-button
            [matMenuTriggerFor]="loginMenu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #loginMenu="matMenu">
            <button mat-menu-item
              (click)="changePassword()">
              <mat-icon>supervisor_account</mat-icon>
              Change Password
            </button>
            <button mat-menu-item
              (click)="manageUsers()">
              <mat-icon>supervisor_account</mat-icon>
              Manage Users
            </button>
            <!-- <button mat-menu-item
              (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button> -->
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>