<div class="slide-in-text">
  <h1> Edit Curler </h1>
</div>

<mat-vertical-stepper linear
  #stepper>
  <!-- Stepper: Select Affiliation -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select an Affiliation</ng-template>
      <mat-form-field>
        <mat-label> Select Organization... </mat-label>
        <mat-select formControlName="firstCtrl"
          name="organizations"
          (selectionChange)="getOrgCurlers(); stepper.next()"
          required>
          <mat-option *ngFor="let organization of organizations"
            [value]="organization.id">
            {{organization.full_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Stepper: Select Curler -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Select a Curler</ng-template>
      <mat-form-field>
        <mat-label> Select Curler... </mat-label>
        <mat-select formControlName="secondCtrl"
          name="curlers"
          (selectionChange)="getCurlerId(); stepper.next()"
          required>
          <mat-option *ngFor="let curler of curlers"
            [value]="curler.id">
            {{curler.name}} (Team: {{curler.curlingteamname}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Stepper: Curler Information -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel> Edit Curler Information </ng-template>
      <mat-card *ngIf="selectedCurler"
        class="m-2">
        Name: {{selectedCurler.name}} <br />
        Throwing Order: {{selectedCurler.throwing_order | titlecase}} <br />
        Position: {{selectedCurler.position | titlecase}} <br />
        Team: {{selectedCurler.curlingteamname}} <br />
        Club Affiliation: {{selectedCurler.organization.full_name}} <br />
      </mat-card>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
          formControlName="thirdCtrlName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Throwing Order</mat-label>
        <mat-select formControlName="thirdCtrlThrowing"
          name="orders">
          <mat-option *ngFor="let order of throwingOrders"
            [value]="order.value">
            {{order.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Position</mat-label>
        <mat-select formControlName="thirdCtrlPosition"
          name="positions">
          <mat-option *ngFor="let position of positions"
            [value]="position.value">
            {{position.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select formControlName="thirdCtrlTeam"
          name="teams">
          <mat-option *ngFor="let team of teams"
            [value]="team.id">
            {{team.team_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Affiliation</mat-label>
        <mat-select formControlName="thirdCtrlOrg"
          name="organizations">
          <mat-option *ngFor="let organization of organizations"
            [value]="organization.id">
            {{organization.full_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- FINISH & SUBMIT -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickSubmit(stepper)">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>