<mat-vertical-stepper linear #stepper>

  <!-- Stepper 1: Choose team name -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Create A Team </ng-template>
      <mat-form-field>
        <mat-label> Team Name </mat-label>
        <input matInput placeholder="Evergreen Curling Club" formControlName="firstCtrlName" required>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>


  <!-- Stepper 2: Optional Fields -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Optional Fields </ng-template>
      <mat-form-field>
        <mat-label> Note </mat-label>
        <input matInput placeholder="(Optional)" formControlName="secondCtrlNote">
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label> Select Organization... </mat-label>
        <mat-select formControlName="secondCtrlOrg" name="organizations">
          <mat-option *ngFor="let organization of organizations" [value]="organization.id">
            {{organization.full_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onClickSubmit(); stepper.reset()">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>