<mat-vertical-stepper linear
  #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Choose a Team Name </ng-template>
      <mat-form-field>
        <mat-label> Full Name </mat-label>
        <input matInput
          placeholder="Evergreen Curling Club"
          formControlName="firstCtrl"
          required>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Add Team Members </ng-template>
      <mat-form-field>
        <mat-label> Short Name </mat-label>
        <input matInput
          formControlName="secondCtrl"
          placeholder="Evergreen"
          required>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext
          (click)="createOrganization()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>