<!-- <p>create-pool works!</p> -->
<!-- <p>create-bracket works!</p> -->
<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="zeroFormGroup">
    <ng-template matStepLabel> Select Event </ng-template>
    <mat-form-field>
      <mat-label>Select Event to Edit</mat-label>
      <mat-select [(value)]="selectedEvent" (selectionChange)="onEventSelected($event)">
        <mat-option *ngFor="let event of this.allEventData" [value]="event">
          {{event.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> New Pool Name </ng-template>
      <mat-form-field>
        <mat-label> New Pool Name </mat-label>
        <input matInput type='text' placeholder="New Bracket Name" formControlName="firstCtrl">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onCreatePool()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>