<div class="slide-in-text">
  <h1> Edit a Bracket </h1>
</div>

<mat-vertical-stepper linear
  #stepper>
  <!-- EVENT -->
  <mat-step [stepControl]="zeroFormGroup">
    <form [formGroup]="zeroFormGroup">
      <ng-template matStepLabel> Select Event </ng-template>
      <mat-form-field>
        <mat-label>Select Event for Brackets</mat-label>
        <mat-select formControlName="eventCtrl"
          (selectionChange)="selectEvent(); stepper.next();"
          required>
          <mat-option *ngFor="let event of events"
            [value]="event.id">
            {{event.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- BRACKET -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select Bracket </ng-template>
      <div *ngIf="brackets.length === 0">
        <p> No brackets exists in this event. </p>
      </div>
      <mat-form-field *ngIf="brackets.length">
        <mat-label>Select Bracket</mat-label>
        <mat-select formControlName="bracketCtrl"
          (selectionChange)="selectBracket(); stepper.next()"
          required>
          <mat-option *ngFor="let bracket of brackets"
            [value]="bracket.id">
            {{bracket.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- BRACKET DETAILS -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Edit Bracket Details </ng-template>
      <mat-form-field>
        <mat-label> Bracket Name </mat-label>
        <input matInput
          type='text'
          placeholder="New Bracket Name"
          formControlName="bracketNameCtrl">
      </mat-form-field>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- SUBMIT & RESET -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickSubmit(stepper)">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>