<div class="slide-in-text">
  <h1> Remove Pool </h1>
</div>


<mat-vertical-stepper #stepper
  linear>

  <!-- EVENT -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select an Event </ng-template>
      <mat-form-field>
        <mat-label>Choose an Event</mat-label>
        <mat-select formControlName="eventCtrl"
          name="event"
          (selectionChange)="getPools(stepper)"
          required>
          <mat-option *ngFor="let event of events"
            [value]="event.id"
            matTooltip="{{event.begin_date | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}"
            [matTooltipPosition]="'right'">
            {{event.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- POOL -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Select a Pool </ng-template>

      <mat-form-field>
        <mat-label>Choose a Pool </mat-label>
        <mat-select formControlName="poolCtrl"
          name="pools"
          (selectionChange)="stepper.next()"
          required>
          <mat-option *ngFor="let pool of pools"
            [value]="pool.id">
            {{pool.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- REMOVE -->
  <mat-step>
    <ng-template matStepLabel>Remove</ng-template>
    <p>Click Remove when ready.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickRemove(stepper)">Remove</button>
    </div>
  </mat-step>

</mat-vertical-stepper>