<div class="slide-in-text">
  <h1> Add Draw </h1>
</div>
<mat-vertical-stepper linear
  #stepper>

  <!-- SELECT EVENT -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> Select Curling Event </ng-template>
      <mat-form-field>
        <mat-label> Select Curling Event... </mat-label>
        <mat-select formControlName="firstCtrl"
          (selectionChange)="getEvent(); stepper.next()"
          required>
          <mat-option> -- </mat-option>
          <mat-option *ngFor="let eventName of eventNames"
            [value]="eventName.id"
            matTooltip="{{eventName.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}"
            [matTooltipPosition]="'right'">
            {{eventName.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- ADD DRAW INFO -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Add Draw Information </ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
          formControlName="secondCtrlName"
          placeholder="Ex. Draw #1"
          required>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput
          [min]="minDate"
          [max]="maxDate"
          [ngxMatDatetimePicker]="picker2"
          placeholder="Choose a date"
          formControlName="secondCtrlDate">
        <mat-datepicker-toggle matSuffix
          [for]="picker2"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2
          [enableMeridian]="true"></ngx-mat-datetime-picker>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>Video URL (Optional)</mat-label>
        <input matInput
          formControlName="secondCtrlUrl"
          placeholder="Ex. https://www.youtube.com/embed/zesl6jZnSDM">
      </mat-form-field>

      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- SUBMIT -->
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Click Submit when ready.</p>
    <div>
      <button mat-button
        matStepperPrevious>Back</button>
      <button mat-button
        (click)="stepper.reset()">Reset</button>
      <button mat-button
        (click)="onClickSubmit(stepper)">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>