<div class="container">
  <form [formGroup]="form"
    (ngSubmit)="submitUpload()">

    <!-- Progress Bar -->
    <div class="progress form-group"
      *ngIf="progress > 0">
      <div class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        [style.width.%]="progress">
      </div>
    </div>

    <div class="form-group">
      <input type="file"
        (change)="uploadFile($event)">
    </div>

    <div class="form-group">
      <button class="btn btn-danger btn-block btn-lg">Upload</button>
    </div>
  </form>
</div>