<div class="slide-in-text">
  <h1> Remove End Score </h1>
</div>

<form [formGroup]="formGroup">
  <mat-vertical-stepper linear
    #stepper
    formArrayName="formArray">

    <!-- EVENT -->
    <mat-step formGroupName="0"
      [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel> Select an Event </ng-template>
      <mat-form-field>
        <mat-label> Choose an Event </mat-label>
        <mat-select formControlName="eventCtrl"
          name="event"
          (selectionChange)="getDraws(); stepper.next()"
          required>
          <mat-option *ngFor="let event of events"
            [value]="event.id"
            matTooltip="{{event.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}"
            [matTooltipPosition]="'right'">
            {{event.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- DRAW -->
    <mat-step formGroupName="1"
      [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel> Select a Draw </ng-template>
      <mat-form-field>
        <mat-label> Choose a Draw</mat-label>
        <mat-select formControlName="drawCtrl"
          name="draws"
          (selectionChange)="getGames(); stepper.next()"
          required>
          <mat-option *ngFor="let draw of draws"
            [value]="draw.id"
            matTooltip="{{draw.start | date: 'EEE, M/d/yy @ h:mm aaa':'UTC'}}"
            [matTooltipPosition]="'right'">
            {{draw.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-step>

    <!-- GAME -->
    <mat-step formGroupName="2"
      [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel> Select a Game </ng-template>
      <mat-form-field class="w-50">
        <mat-label> Choose a Game </mat-label>
        <mat-select formControlName="gameCtrl"
          name="games"
          (selectionChange)="getEndScores(); stepper.next()"
          required>
          <mat-option *ngFor="let game of games"
            [value]="game.game_id">
            {{game.team_name1}} VS {{game.team_name2}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-step>

    <!-- END SCORE -->
    <mat-step formGroupName="3"
      [stepControl]="formArray?.get([3])">
      <ng-template matStepLabel> Remove End Score </ng-template>
      <h2 class="h4">Current End Scores:</h2>
      <table mat-table
        [dataSource]="endScores"
        class="mat-elevation-z8 w-100">

        <!-- End Number Column -->
        <ng-container matColumnDef="endNumber">
          <th mat-header-cell
            *matHeaderCellDef> End No. </th>
          <td mat-cell
            *matCellDef="let game"> {{game.end_number}} </td>
        </ng-container>

        <!-- Team 1 Score  Column -->
        <ng-container matColumnDef="team1Score">
          <th mat-header-cell
            *matHeaderCellDef> Team: {{team1}} </th>
          <td mat-cell
            *matCellDef="let game">
            <div *ngIf="game.curlingteam1_scored !==null">
              <div *ngIf="game.curlingteam1_scored; else score0">{{game.score}}</div>
              <ng-template #score0>
                0
              </ng-template>
            </div>
          </td>
        </ng-container>

        <!-- Team 2 Score  Column -->
        <ng-container matColumnDef="team2Score">
          <th mat-header-cell
            *matHeaderCellDef> Team: {{team2}}</th>
          <td mat-cell
            *matCellDef="let game">
            <div *ngIf="game.curlingteam1_scored !==null">
              <div *ngIf="!game.curlingteam1_scored; else score0">{{game.score}}</div>
              <ng-template #score0>
                0
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Adding End Information -->
      <mat-form-field>
        <mat-label class="mt-3"> Select End Number </mat-label>
        <mat-select formControlName="endCtrl"
          name="endScores"
          required>
          <mat-option *ngFor="let endscore of endScores"
            [value]="endscore.endscore_id">
            {{endscore.end_number}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mt-3">
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- REMOVE -->
    <mat-step>
      <ng-template matStepLabel>Remove</ng-template>
      <p>Click Remove when ready.</p>
      <div>
        <button mat-button
          matStepperPrevious>Back</button>
        <button mat-button
          (click)="stepper.reset()">Reset</button>
        <button mat-button
          (click)="onClickRemove(stepper)">Remove</button>
      </div>
    </mat-step>


  </mat-vertical-stepper>
</form>